/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.heading {
  font-family: roboto;
  font-size: 55px;
  font-weight: bold;
  color: #2d3a35;
}
.count {
  font-size: 48px;
  font-weight: bold;
  color: #c20a72;
}
.para {
  font-family: roboto;
  font-size: 31px;
  color: #2d3a35;
}
.button {
  font-family: roboto;
  font-size: 25px;
  padding: 15px;
  background-color: #007bff;
  border: none;
  color: #ffffff;
}
